body{
    padding: 0;margin:0;
    position: relative;
}
input[type="text"],input[type="email"], input[type="password"], textarea, select { 
    outline: none;
}
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
section{
    background: url("../img/background-login.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: fixed;
    width: 100%;
    height: 900px;
}
.text-left{
    text-align: left;
}
.lighter{
    font-weight: lighter;
}
@media (min-width: 992px){
    .moving-clouds {
        position: absolute;
        z-index: 1;
        top: -20em;
        left: 0;
        width: 250.625em;
        height: 43.75em;
        -webkit-animation: cloud_loop 60s linear infinite;
        animation: cloud_loop 60s linear infinite;
    }
}
@keyframes cloud_loop{
    0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
    100%{-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}
}
.login{
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 2;
    top:50%;
    left: 50%;
    margin-top:-300px;
    margin-left: -200px;
    background: rgba(0,0,0,.5);
}
.register{
    width: 800px;
    height: 500px;
    position: absolute;
    z-index: 2;
    top:50%;
    left: 50%;
    margin-top:-300px;
    margin-left: -400px;
    background: rgba(0,0,0,.5);
}
.text-center{
    text-align: center;
}
.form-customer {
    width: 100%;
    height: 41px;
    padding: 3px 38px;
    border: none;
    border-bottom: 2px solid #0d8462;
    background: none;
    margin-bottom: 36px;
    color: #fff;
}

.login-body {
    padding: 20px 5px;
    color: #fff;
}

.login-header {
    padding: 0px 20px;
    color: #fff;
}

.login-body .fa {
    position: absolute;
    top: 4px;
    left: 17px;
    font-size: 29px;
}
@media(max-width: 767px){
    .register{
    width: 400px;
    height: auto;
    margin-left: -200px;
    }
    
}
.menu {
    position: fixed;
    top: 20px;
    right: 30px;
    color: #fff;
    z-index: 3;
}

.menu li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.menu li::before{
    content:"";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #0b131d8a;
    transform-origin: 50% 50% ;
    transform: scaleX(0);
    transition: .4s ease;
}
.menu li:hover::before{
    transform: scaleX(1);
}
.link{
    color: #0796ff;
    text-shadow: 1px 1px 20px;
    font-weight: bold;
}
